* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f5f3;
  width: 100vw;
  height: 100vh;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
  overflow: hidden;
  font-family: "Inter", sans-serif;
}

header {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #d9d9d9;
    margin:10px 0px 10px 6px;
}

.logo img {
  border-radius: 50%;
  height:24px;
  width:24px;
}

#logo{
  height: 55px;
  width: 55px;
}

#logo img {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

#logo h1 {
}

.searchContainer {
   display: flex;
    align-items: center;
    background-color: white;
    border-radius: 32px;
    padding: 0.5rem 1.5rem;
    padding-right: 0.8rem;
    gap: 12px;
    width: 400px;
}

.searchContainer input {
  flex: 1;
  border: none;
  background: none;
  font-size: 16px;
  color: #333;
  outline: none;
}

.searchContainer input::placeholder {
  color: #999;
  font-weight: 400;
}

.dropdownBtn {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #f2f5f5;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}


.dropdownBtn img {
  width: 20px;
}

.contentContainer{
  /* border: 2px solid red; */
  height: calc(100vh - 68px);
  padding-top: 0.5rem;
  display: flex;
}

.sidebar{
  /* border: 2px solid blue; */
  width: 70px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  margin-bottom: 24px;
}

.mainContent{
  /* border: 2px solid green; */
  width: 100%;
  margin-left: 3rem;
  border-radius: 32px;
  background-color: white;
}

.chartSection {
  display: flex;
  align-items: center;
  padding: 0px 10px;
}

.chartLegend {
  display: flex;
  flex-direction: column;
  gap: 12px;
  flex: 1;
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.legendText {
  color: #999;
  font-size: 14px;
  min-width: 80px;
}

.legendPercent {
  color: #999;
  font-size: 14px;
  min-width: 40px;
}

.legendBar {
  height: 6px;
  flex: 1;
  border-radius: 3px;
}

.cardHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid #d9d9d9;
}